<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Sandbox theme</title>
{{ content_for_header }}
</head>
<body>
{{ content_for_layout }}
<h1>Welcome to the Store</h1>
<div class="articles--wrapper">
{% render "article-card", article_title:"Best themes on shopify", article_body:"article text is funny ok some sentences here to create the bolg post nice very well done"%}
{% render "article-card", article_title:"Articolo 2" %}
{% render "article-card", article_title:"Articolo Terzo", article_body:"uno per i soldi due per lo show" %}
</div>
</body>
<html>

{% style %}
.articles--wrapper {
    display: flex;
    justify-content: space-around;
    gap: 12px;
}
{% endstyle %}