<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Sandbox theme</title>
{{ content_for_header }}
</head>
<body>
{{ content_for_layout }}
<h1>Welcome to the Store</h1>
{% render "article-card", article_title:"Best themes on shopify", article_body:"article text is funny ok some sentences here to create the bolg post nice very well done"%}
{% render "article-card", article_title:"Best themes on shopify" %}
{% render "article-card", article_title:"Best themes on shopify", article_body:"text for the 3rd blog post" %}
</body>
<html>