<section>
    <p>The Journal</p>
    <h2>Our Process</h2>
    <ul>
        {% render "article-card", article_title:"Only the Brave", article_body:"il segreto della pallacanestro" %}</li>
    </ul>
    
</section>

{% schema %}
{
    "name": "Featured articles",
    "settings":[
        {
            "type": "color",
            "id": "body_text",
            "label": "Font text",
            "default": "#00ff00"
        }
    ]
}
{% endschema %}